@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome to ASP_Website</h1>
<p>This is the homepage of the ASP_Website.</p>
<p>
    Use this space to provide an introduction or summary of your website's purpose and content.
</p>
